const environment = {
  discord: {
    channels: {
      default: "CHANNEL_ID_HERE",
    },
    userAgent: "USER_AGENT_HERE",
    apikey: "API_KEY_HERE",
    publicKey: "PUBLIC_KEY_HERE",
    adminUserId: "YOUR_DISCORD_USER_ID_HERE",
  },
  dota: {
    apikey: "API_KEY_HERE",
  },
  twitch: {
    apikey: "API_KEY_HERE",
  },
  fortnite: {
    apikey: "API_KEY_HERE",
  },
  pubg: {
    apikey: "API_KEY_HERE",
  },
  openai: {
    apikey: "API_KEY_HERE",
  },
  anthropic: {
    apikey: "API_KEY_HERE",
  },
  gemini: {
    apikey: "API_KEY_HERE",
  }
};

module.exports.environment = function () {
  return {
    environment: JSON.stringify(environment),
  };
};
